<!--Actualizamos los enlaces de plantillas para anunciar el nombre del héroe y muestra tanto el id como el nombre o name-->

<!--<h2>Detalle: {{hero.name | uppercase}}</h2>
<div><span>Id: </span>{{hero.id}}</div>
<div>
  <label>Nombre:
    <input [(ngModel)]="hero.name" placeholder="Nombre"/>
  </label>
</div>-->

<h2>Mis Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<div *ngIf="selectedHero">

  <h2>Detalles {{selectedHero.name | uppercase}}</h2>
  <div><span>Id: </span>{{selectedHero.id}}</div>
  <div>
    <label>Nombre:
      <input [(ngModel)]="selectedHero.name" placeholder="Nombre"/>
    </label>
  </div>

</div>